<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTREGABLE 6</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="cliente.js"></script>
</head>
<body>

 <table class="default" border="1px solid black" >

    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
  
        <% for(let i=0; i < productos.length; i++) { %>
            <tr>
                <td> <%= productos[i].title %></td>
                <td> <%= productos[i].price %></td>
                <td> <img src= " <%= productos[i].thumbnail %> "</td>
            </tr>
        <% } %>

  
  </table>


</body>
</html>